@import './../global.styl'

.sidenav
	.scroll
		height "calc(100% - %s)" % ribbonHeight 			
	&.list	
		ul
			margin buffer
			li
				cursor pointer
				border-bottom 0
				color rgba(0,0,0,0.5)
				p
					height (ribbonHeight * 1.05)
					line-height (ribbonHeight * 1.05)
					display inline-block
				&:hover
					-webkit-transform scale(1.05)
					-moz-transform scale(1.05)
					-ms-transform scale(1.05)
					transform scale(1.05)
					border 1px solid strokeColor
	.sub
		.ribbon
			border-top 1px solid strokeColor
			border-bottom 1px solid strokeColor
			border-right 1px solid strokeColor
			h1
				font-weight 500
				color rgba(0,0,0,0.5)
			svg
				fill rgba(0,0,0,0.5)
		&:first-of-type
			.ribbon
				border-top 0
							