@import './../global.styl'

.messenger
	&.list
		ul
			margin 0 
			border 0
			li
				background bgColor
				padding-left (buffer * 2)
				color rgba(0,0,0,0.4)
				border-bottom 0
	
	.title
		padding buffer
		background bgColor
		padding buffer buffer 0
		color rgba(0,0,0,0.4)
		border-top	0
		h1
			display inline-block
			height (ribbonHeight / 3)
			line-height (ribbonHeight / 3)
		p
			padding buffer
		.icon
			padding 0 buffer
			height (ribbonHeight / 3)
			line-height (ribbonHeight / 3)
	
	.bubble
		height "calc(100% - %s)" % ribbonHeight
		overflow auto
		background bgColor
		clear both
		border 1px solid strokeColor
		border-bottom 0
		.message
			color bgColor
			margin buffer buffer
			padding buffer
			width 50%
			position: relative
			
			&:after
				top: 100%
				border: solid transparent
				content: " "
				height: 0
				width: 0
				position: absolute
				pointer-events: none
				border-color: rgba(0,0,0,0)

			p
				margin 0
			&.me
				background secondaryColor
				float right
				border-radius: radius radius 0 radius
				&:after
					right: 0
					border-top-color: secondaryColor
					border-width: 10px 0 0 10px 
				
			&.them
				background primaryColor
				float left
				border-radius: radius radius radius 0
				&:after
					left: 0
					border-top-color: primaryColor
					border-width: 10px 10px 0 0
			&:last-of-type
				margin buffer buffer
				
		
	.chat 
		height 100%
		.container
			height "calc(100% - %s)" % ribbonHeight
			padding buffer 
			input
				margin 0
		
			
	.chatInput
		display inline-block
		background bgColor
		width 100%
		height ribbonHeight
		border 1px solid strokeColor
		&.right 
			float right
		input
			padding buffer
			height ribbonHeight - 2
			display inline-block
			font-size 13px
			border 0
			width "calc(100% - %s)" % ( ribbonHeight * 2 )
			&:focus
				outline none
				border 0
		.icon
			height ( ribbonHeight - ( buffer * 1.5 ) ) - 2
			width ( ribbonHeight - ( buffer * 1.5 )  )
			padding ( buffer / 2 )
			margin ( ( buffer * 1.5 ) / 2 )
			border-radius 3px
			background fontColor
			svg
				fill bgColor
				
			





			